<html lang="en">
	<head>
	    <title>New</title>
	</head>
	<body>
		<% if flash[:errors] %>
			<% flash[:errors].each do |e| %>
				<p><%= e %></p>
			<% end %>
		<% end %>

		<h1>New User</h1>
		<!-- <form action='/users' method='post'> -->
		<form action='<%= users_create_path %>' method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<p>First Name: <input type='text' name='user[first_name]'></p>
			<p>Last Name: <input type='text'name='user[last_name]'></p>
			<p>Email: <input type='text' name='user[email_address]'></p>
			<p>Password: <input type='password' name='user[password]'></p>
			<p><input type='submit' value='Create'></p>
		</form>

		<a href="#" onclick="history.go(-1)">Back</a>
	</body>
</html>



